<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  @if (produtoAtual()) {
    <ion-card>
      <img [src]="produtoAtual().imagem" [alt]="produtoAtual().nome" style="width: 100%; object-fit: cover; max-height: 220px;" />

      <ion-card-header>
        <ion-card-title>{{ produtoAtual().nome }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: 1.1em; line-height: 1.4; color: var(--ion-color-dark);">
          {{ produtoAtual().descricao }}
        </p>
        
        <h2 style="color: var(--ion-color-success, #2dd36f); font-weight: bold; margin-top: 15px; font-size: 1.5em;">
          R$ {{ produtoAtual().preco }}
        </h2>
      </ion-card-content>
    </ion-card>

    <div style="margin-top: 20px;">
  <ion-button
    expand="block"
    fill="outline"
    (click)="anterior()"
    [disabled]="indice() === 0">
    Anterior
  </ion-button>

  <!-- Adicione a classe btn-avancar aqui -->
  <ion-button
    expand="block"
    class="btn-avancar"
    (click)="proximo()"
    [disabled]="indice() === listaProdutos().length - 1">
    Próximo
  </ion-button>
</div>
  } @else {
    <div style="text-align: center; margin-top: 50px;">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Carregando cursos...</p>
    </div>
  }

</ion-content>